@import "./RecetteImage.css";
@import "./RecetteTop.css";
@import "./RecetteDivers.css";
@import "./RecetteIngredients.css";

.recette--butonBack{
    width: fit-content;
    margin: 20px 0;
}

.recette--content{
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-between;
    width: fit-content;
    max-width: var(--large5XL);
    margin: auto;
    font-size: var(--fs-litle);
}

.recette--donnees{
    flex: 1 0 50%
}

.recette--donnees__des{
    margin: 30px 0;
    padding: 20px;
    background-color: var(--c-main_light);
}

.recette--subtitle{
    margin-bottom: 20px;
}

.instructions__liste {
    list-style: decimal;
    line-height: 1.5rem;
}

.recette--donnees__autres{
    width: 100%;
    margin: 100px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 10px;
}