.bouton{
    background-color: var(--c-main);
    border: none;
    border-radius: 15px;
    display: inline-block;
    color: var(--c-white);
    text-decoration: none;
    text-transform: capitalize;
    width: fit-content;
    word-wrap: break-word;
    cursor: pointer;
    transition: all .15s ease-in-out;
}

.bouton-rounded {
    border-radius: 50px;
}

.bouton-small {
    padding: 14px 29px;
}

.bouton-big {
    padding: 33px 67px;
    background: linear-gradient(#f8b471, var(--c-main));
}

.bouton-icon {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    padding: 20px;
}

.bouton:hover{
    filter: brightness(1.2);
    color: var(--c-white);
}