.gridCard {
    display: grid;
    justify-items: center;
    align-items: stretch;
    grid-template-rows: 1fr; 
    margin: auto;  
}

.gridCard--product {
  max-width: var(--large3XL);
  grid-template-columns: repeat(auto-fit, minmax(335px, 1fr));
  gap: 50px;
}

.gridCard--aucune{
  text-align: center;
  font-style: italic;
}