.subscribe{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 74px 50px;
    width: 85vw;
    max-width: 100%;
    height: 300px;
    border-radius: 50px;
    background-color: var(--c-black);
}

.subscribe img {
    flex: none;
    width: 40%;
}

.subscribe--content {
    flex: none;
    color: var(--c-white);
    max-width: 46%;
}

.subscribe--content p{
    margin-top: 20px;
    margin-bottom: 15px;
}