.icon{
    display: inline-block;
    border-radius: 100%;
    stroke: var(--c-black);
    fill: var(--c-black);
}

/* direction */
.gauche{
    transform: rotate(180deg);
}

/* taille */
.icon-small{
    height: 20px;
    width: 20px;
}

.icon-medium{
    height: 42px;
    width: 42px;
    padding: 10px;
}

.icon-big{
    height: 98px;
    width: 98px;
    padding: 23px;
}

/* couleur */
.icon-black{
    background-color:var(--c-black);
    stroke:var(--c-white);
    fill:var(--c-white);
}

.icon-white{
    background-color:var(--c-white);
}

.icon-orange{
    background-color:var(--c-main_light);
    stroke:var(--c-main);
    fill:var(--c-main);
}

.icon-orangeWhite{
    background-color:var(--c-main);
    stroke:var(--c-white);
    fill:var(--c-white);
}

.icon-whiteOrange{
    background-color:var(--c-white);
    stroke:var(--c-main);
    fill:var(--c-main);
}

.icon-shadow{
    box-shadow: 0 0 10px var(--c-gray);
}