@import './styles/reset.css';
@import './styles/variables.css';

*,
*::before,
*::after {
  box-sizing: border-box;
}

*::selection{
    color: var(--c-white);
    background-color: var(--c-main);
    text-shadow: none;
}

body{
    background-color: var(--c-white);
}

#root {
    margin: 15px auto 0 auto;
    min-height: 100vh;
    color: var(--c-black);
    font-family: var(--ff-Montserrat);
}

.mainMobile{
    height: 100vh;
    display: grid;
    place-items: center;
    padding: 20px;
    text-align: center;
}

.mainPC{
    display: none;
    margin: 30px auto;
    width: 85vw;
    max-width: 1605px;
}

@media screen and (min-width: 1024px) {
    .mainMobile{
        display: none;
    }

    .mainPC{
        display: block;
    }
}
  
section,
.section{
    margin: 135px auto;
    width: 100%;
}

h1,
.h1{
    font-size: var(--fs-extra);
    font-weight: var(--fw-bold);
    line-height: 1.25;
    text-transform: capitalize;
}

.page--title{
    margin: 60px 0;
}

h2,
.h2{
    font-size: var(--fs-mega);
    font-weight: var(--fw-bold);
}

h3,
.h3{
    font-size: var(--fs-big);
    font-weight: var(--fw-bold);
    text-transform: capitalize;
}


h4,
.h4{
    font-size: var(--fs-regular);
    font-weight: var(--fw-bold);
}

h5,
.h5{
    font-size: var(--fs-litle);
    font-weight: var(--fw-semibold);
}

p,
.p{
    font-size: var(--fs-litle);
    font-weight: var(--fw-medium);
    line-height: 1.25;
}

.p-small{
    font-size: var(--fs-small);
    font-weight: var(--fw-regular);
}

strong{
    color: var(--c-main);
    font-weight: var(--fw-bold);
}

a{
    transition: all .15s ease-in-out;
}

a:hover,
a.active {
    color: var(--c-main);
}

hr{
    margin: 60px 0;
    height: 2px;
    background: var(--c-main);
    color: transparent;
}

legend{
    font-size: var(--fs-litle);
    font-weight: var(--fw-semibold);
    color: var(--c-main);
    margin-bottom: .5rem;
}

input, label{
    accent-color: var(--c-main);
    cursor: pointer;
}

input:checked + label{
    font-weight: var(--fw-medium);
    color: var(--c-main)
}


.error{
    color: red;
    font-style: italic;
    text-align: center;
}