@import './styles/reset.css';
@import './styles/variables.css';

*,
*::before,
*::after {
  box-sizing: border-box;
}

body{
    background-color: var(--c-white);
}

#root {
    margin: 15px auto;
    width: 85vw;
    max-width: 1605px;
    min-height: 100vh;
    color: var(--c-black);
    font-family: var(--ff-Montserrat);
}
  
section{
    margin: 135px auto;
}

h1{
    font-size: var(--fs-extra);
    font-weight: var(--fw-bold);
}

h2{
    font-size: var(--fs-mega);
    font-weight: var(--fw-bold);
}

h3{
    font-size: var(--fs-big);
    font-weight: var(--fw-bold);
}


h4{
    font-size: var(--fs-regular);
    font-weight: var(--fw-bold);
}

h5{
    font-size: var(--fs-litle);
    font-weight: var(--fw-semibold);
}

p{
    font-size: var(--fs-litle);
    font-weight: var(--fw-medium);
    line-height: 1.25;
}

.p-small{
    font-size: var(--fs-small);
    font-weight: var(--fw-regular);
}

a:hover {
    color: var(--c-main);
  }