.emailInput-big{
    display: flex;
    align-items: center;
    width: fit-content;
    max-width: 100%;
    height: fit-content;
    background: var(--c-white);
    border: 2px solid black;
    height: 72px;
    padding: 10px;
    border-radius: 15px;
}

.emailInput-big--input{
    margin: 25px 15px;
    max-width: 300px;
    min-width: 100px;
    border: none;
}

.emailInput-big--input:focus {
    outline: none;
}

.emailInput-big--input::placeholder {
    color: var(--c-black);
}

.emailInput-big--button{
    height: 100%;
    padding: 14px 26px;
    background: linear-gradient(#f8b471, var(--c-main));
    color: var(--c-white);
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: var(--fw-bold);
}

.emailInput-big--button:hover{
    filter: brightness(1.2);
}